<%- include('../partials/Header') %>
<%- include('./partials/header') %>
            <div class="container-fluid">
               <div class="row">
                  <div class="col-lg-4">
                     <div class="iq-card">
                        <div class="iq-card-body pl-0 pr-0 pt-0">
                           <div class="doctor-details-block">
                              <div class="doc-profile-bg bg-primary" style="height:150px;">
                              </div>
                              <div class="doctor-profile text-center">
                                 <img src="<%=docter.image%>" alt="profile-img" class="avatar-130 img-fluid">
                              </div>
                              <div class="text-center mt-3 pl-3 pr-3">
                                 <h4><b><%= docter.username %> </b></h4>
                                 <p>Médecin</p>
                                 <p class="mb-0"> Specialization in <%= docter.specialization %> </p>
                              </div>
                              <hr>
                              <ul class="doctoe-sedual d-flex align-items-center justify-content-between p-0 m-0">
                                 <li class="text-center">
                                    <h3 class="counter"><%= docter.age %></h3>
                                    <span>Age </span>
                                  </li>
                                  <li class="text-center">
                                    <h3><%= docter.appointmentFee %></h3>
                                    <span>Frais de rendez-vous</span>
                                  </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Renseignements personnels </h4>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <div class="about-info m-0 p-0">
                              <div class="row">
                                 <div class="col-4">Prénom:</div>
                                 <% if(docter.fname){ %>
                                    <% var firstName = docter.fname; var lastName = docter.lname %>
                                 <% }else{ %>
                                    <% var indexOfSpace = docter.username.indexOf(" ") %>
                                    <% if(indexOfSpace == -1 ){ %>
                                       <% var firstName = docter.username %>
                                       <% var lastName = "" %>
                                    <% }else{ %>
                                       <% var firstName = docter.username.slice(0,indexOfSpace) %>
                                       <% var lastName = docter.username.slice(indexOfSpace+1,docter.username.length) %> 
                                    <% } %>  
                                 <% } %>
                                 <div class="col-8"> <%= firstName %> </div>
                                 <% if( indexOfSpace != -1 ){ %>
                                    <div class="col-4">Nom:</div>
                                    <div class="col-8"> <%= lastName %> </div>
                                 <% } %>
                                 <div class="col-4">Numéro:</div>
                                 <div class="col-8"> <%= docter.mobileNumber %> </div>
                                 <% if(!docter.patients.includes(child._id)){ %>
                                    <div class="col-12"> 
                                       <a  href="appointDocter-<%=docter._id%>-For-<%=child._id%>" style="width: 40%; margin-left: 25% ;margin-top: 20px;" 
                                          class="btn btn-outline-primary"> Rendez-vous
                                       </a>
                                    </div>
                                 <% } %>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-8">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="iq-card">
                              <div class="iq-card-header d-flex justify-content-between">
                                 <div class="iq-header-title">
                                    <h4 class="card-title">Education<</h4>
                                 </div>
                              </div>
                            <div class="iq-card-body"> 
                            <table class="table mb-0 table-borderless">
                            <thead>
                                <tr>
                                        <th scope="col">Année</th>
                                        <th scope="col">Diplome</th>
                                        <th scope="col">Institut</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% docter.education.forEach( (eachOne,eduIndex) => { %>
                                    <tr>
                                        <td> <%= eachOne.year %> </td>
                                        <td> <%= eachOne.degree %> </td>
                                        <td> <%= eachOne.institute %> </td>
                                    </tr>
                                <% } ) %>
                            </tbody>
                            </table>
                            </div>
                           </div>
                        </div>
                        <div class="col-md-12">
                           <div class="iq-card">
                              <div class="iq-card-header d-flex justify-content-between">
                                 <div class="iq-header-title">
                                    <h4 class="card-title">Expérience</h4>
                                 </div>
                              </div>
                                 <div class="iq-card-body">
                                    <table class="table mb-0 table-borderless">
                                    <thead>
                                       <tr>
                                             <th scope="col">Année</th> 
                                             <th scope="col">Département</th>
                                             <th scope="col">Position</th>
                                             <th scope="col">Hôpital</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <% docter.experience.forEach( eachOne => { %>
                                          <tr>
                                             <td> <%= eachOne.year %> </td>
                                             <td> <%= eachOne.department %> </td>
                                             <td> <%= eachOne.position %>  </td>
                                             <td> <%= eachOne.hospital %>  </td>
                                          </tr>
                                       <% } ) %>
                                    </tbody>
                                 </table>
                                 </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Footer -->
             <%- include('../partials/Footer') %>
   </body>
</html>