<%- include('../partials/Header') %>
<%- include('./partials/header') %>
            <div class="container-fluid">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="iq-card">
                        <div class="iq-card-body p-0">
                           <div class="iq-edit-list">
                              <ul class="iq-edit-profile d-flex nav nav-pills">
                                 <li class="col-md-4 p-0">
                                    <a class="nav-link active" data-toggle="pill" href="#personal-information">
                                       Renseignements personnels
                                    </a>
                                 </li>
                                 <li class="col-md-4 p-0">
                                    <a class="nav-link action" data-toggle="pill" href="#chang-image">
                                       Photo de profil
                                    </a>
                                 </li>
                                 <li class="col-md-4 p-0">
                                    <a class="nav-link" data-toggle="pill" href="#chang-pwd">
                                       Changer de mot de passe
                                    </a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-12">
                     <div class="iq-edit-list-data">
                        <div class="tab-content">
                           <div class="tab-pane fade active show" id="personal-information" role="tabpanel">
                              <div class="iq-card">
                                 <div class="iq-card-header d-flex justify-content-between">
                                    <div class="iq-header-title">
                                       <h4 class="card-title">Renseignements personnels</h4>
                                    </div>
                                 </div>
                                 <div class="iq-card-body">
                                    <form action="/editDocterPersonal?_method=PUT" method="POST" >
                                       <div class=" row align-items-center">
                                          <div class="form-group col-sm-6">
                                             <label for="fname">Prénom:</label>
                                             <input type="text" name="fname" required placeholder="Prénom" class="form-control" id="fname" value="<%=docter.fname%>">
                                          </div>
                                          <div class="form-group col-sm-6">
                                             <label for="lname">Nom :</label>
                                             <input type="text" name="lname" required placeholder="Nom" class="form-control" id="lname" value="<%=docter.lname%>">
                                          </div>
                                          <div class="form-group col-sm-6">
                                             <label for="cname">Ville :</label>
                                             <input type="text" name="city" required placeholder="Ville" class="form-control" id="cname" value="<%=docter.city%>">
                                          </div>
                                          <div class="form-group col-sm-6">
                                             <label for="dob">Date de naissance:</label>
                                             <input  class="form-control" required placeholder="23/03/1990" name="dob" id="dob" value="<%=docter.dob%>">
                                          </div>
                                          <div class="form-group col-sm-6">
                                             <label>Age:</label>
                                             <input  class="form-control" required placeholder="Age" name="age" id="age" value="<%=docter.age%>">
                                          </div>
                                          <div class="form-group col-sm-6">
                                             <label>Code Postal</label>
                                             <input type="number" class="form-control" required placeholder="Postal Code" name="pinCode" id="pinCode" pattern=".{6}" value="<%=docter.pinCode%>">
                                          </div>
                                          <div class="form-group col-sm-6">
                                             <label>Spécialité</label>
                                             <input type="text" class="form-control" required placeholder="Spécialité" name="specialization" id="specialization" value="<%=docter.specialization%>">
                                          </div>
                                          <div class="form-group col-sm-6">
                                             <label>Frais de rendez-vous</label>
                                             <input type="text" class="form-control" required placeholder="Frais de rendez-vous" name="appointmentFee" id="appointmentFee" value="<%=docter.appointmentFee%>">
                                          </div>
                                          <div class="form-group col-sm-12">
                                             <label>Address:</label>
                                             <textarea required class="form-control" required name="address" rows="5" style="line-height: 22px;">
                                                <%= docter.address %>
                                             </textarea>
                                          </div>
                                       </div>
                                       <button type="submit" class="btn btn-primary mr-2">Envoyer</button>
                                       <button type="reset" class="btn iq-bg-danger">Annuler</button>
                                    </form>
                                 </div>
                              </div>
                           </div>
                           <div class="tab-pane fade" id="chang-pwd" role="tabpanel">
                              <div class="iq-card">
                                 <div class="iq-card-header d-flex justify-content-between">
                                    <div class="iq-header-title">
                                       <h4 class="card-title">Changer de mot de passe/h4>
                                    </div>
                                 </div>
                                 <div class="iq-card-body">
                                    <form>
                                       <div class="form-group">
                                          <label for="cpass">Mot de passe actuel::</label>
                                          <a href="javascripe:void();" class="float-right">J'ai oublié mon mot de passe</a>
                                          <input type="Password" class="form-control" id="cpass" value="">
                                       </div>
                                       <div class="form-group">
                                          <label for="npass">Nouveau mot de passe:</label>
                                          <input type="Password" class="form-control" id="npass" value="">
                                       </div>
                                       <div class="form-group">
                                          <label for="vpass">Verify Password:</label>
                                          <input type="Password" class="form-control" id="vpass" value="">
                                       </div>
                                       <button type="submit" class="btn btn-primary mr-2">Envoyer</button>
                                       <button type="reset" class="btn iq-bg-danger">Annuler</button>
                                    </form>
                                 </div>
                              </div>
                           </div>
                           <div class="tab-pane fade" id="chang-image" role="tabpanel">
                              <div class="iq-card">
                                 <div class="iq-card-header d-flex justify-content-between">
                                    <div class="iq-header-title">
                                       <h4 class="card-title">Changer Votre Photo de Profile</h4>
                                    </div>
                                 </div>
                                 <div class="iq-card-body">
                                    <form enctype="multipart/form-data" action="/editProfilePic?_method=PUT" method="POST" >
                                       <div class="form-group row align-items-center">
                                          <div class="col-md-12">
                                             <div class="profile-img-edit">
                                                <img class="profile-pic" src="<%=docter.image%>" alt="profile-pic">
                                                <!-- <div class="p-image"> -->
                                                   <!-- <i class="ri-pencil-line upload-button"></i> -->
                                                   <input style="margin-top : 20px" id="cover" name="image" type="file" accept="image/*" required/>
                                                <!-- </div> -->
                                             </div>
                                          </div>
                                       </div>
                                       <button type="submit" class="btn btn-primary mr-2">Envoyer</button>
                                       <button type="reset" class="btn iq-bg-danger">Annuler</button>
                                    </form>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Footer -->
            <%- include('../partials/Footer') %>
   </body>

<!-- Mirrored from iqonic.design/themes/xray/html/profile-edit.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 18 Mar 2020 16:44:37 GMT -->
</html>